openapi: 3.0.1
info:
  title: STD21001
  description: 'Hello World!'
  version: 1.0.0
servers:
- url: https://std21001.com
tags:
- name: Students
- name: Courses
paths:
  /students:
    get:
      tags:
      - Students
      summary: Get all students
      operationId: getAllStudents
      description: 'Get all students with details'
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        400:
          description: Bad request
      security:
      - petstore_auth:
        - write:pets
        - read:pets
      x-codegen-request-body-name: body
    post:
      tags:
      - Students
      summary: Create new students
      operationId: createNew
      description: Create new students from an array
      requestBody:
        description: Students to be created
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateStudent'
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        400:
          description: Bad request
      security:
      - petstore_auth:
        - write:pets
        - read:pets
      x-codegen-request-body-name: body


components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Student
      
    CreateStudent:
      required:
      - name
      - photoUrls
      type: object
      properties:
        
        name:
          type: string
      xml:
        name: CreateStudent
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://petstore.swagger.io/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
